/* hero rules */

.hero{

	background-color: $light-purple;

	.hero-info{
		width: 50%;
		padding: 20% 50px 0 150px;
	}

	.hero-img{
		width: 50%;

		img{
			width: 100%;
			display: block;
		}
	}

	span, h1{
		display: block;
	}

	span:first-child{
		font-size: 1.5rem;
		font-weight: 300;
	}

	span:last-of-type{
		font-size: 3rem;
		font-weight: 500;
	}
	
	h1{
		font-size: 1.5rem;
		font-weight: 300;
	}
		
	p{
		color: $gray;
		font-weight: 300;
	}
}